<footer class="site-footer">
  <div class="footer-inner">
    <div>&copy; {{ 'now' | date: '%Y' }} Elan Barenholtz, PhD</div>
    <div class="footer-links">
      <a href="https://substack.com/@generativebrain" target="_blank">Substack</a>
      <a href="https://x.com/ebarenholtz" target="_blank">X/Twitter</a>
      <a href="https://github.com/elanbarenholtz" target="_blank">GitHub</a>
      <a href="https://mpcrlab.com/people/Elan-Barenholtz/" target="_blank">Academic</a>
      <a href="mailto:ebarenholtz@fau.edu">Email</a>
    </div>
  </div>
</footer>
